div {
  text-align: center;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 120%;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

#top-menu-bar {
  text-align: center;
}

#front-pic-container img {
  max-width:100%
}
#about-content {
  text-align: left;
  font-size: 90%;
}

#convo-note-input {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#convo-note-input input {
  margin: 0;
  font-size: 120%;
}

#record-note-input {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#record-note-input input {
  margin: 0;
  font-size: 120%;
}