<div class="grid grid-pad">
    <div *ngFor="#record of convo?.records">
        <div>
            <h4>{{record.note}}<button (click)="showNote=!showNote">Show recording panel</button>/h4>       
              <div *ngIf="showNote">
                <input type="text" size=20 placeholder="Enter comment:" #comment (keyup)="0"/>
                <button (click)="sendComment(record._id, comment.value); comment.value=''">Send comment</button>
                <button *ngIf="!onAir" (click)="startRecording(record._id); onAir=!onAir">Start recording</button>
                <button *ngIf="onAir" (click)="stopRecording(); onAir=!onAir" >Stop recording</button> 
              </div>
        </div>
    </div>
    <button (click)="addRecord(newNote); showRecordForm=!showRecordForm">Add new conversation</button>
    <section *ngIf="showRecordForm">
      <input type="text" size=40 placeholder="Enter record note (required):" #note (keyup)="newNote=note.value"/>
    </section>
</div>
